.button{
    background: #36317d;
  background-image: -webkit-linear-gradient(top, #36317d, #2980b9);
  background-image: -moz-linear-gradient(top, #36317d, #2980b9);
  background-image: -ms-linear-gradient(top, #36317d, #2980b9);
  background-image: -o-linear-gradient(top, #36317d, #2980b9);
  background-image: linear-gradient(to bottom, #36317d, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button:hover{
    background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bg-1{
    background-image: url("banner.png");
}
.bg-2{
  background-image: url("freepik--Character--inject-62.png");
}
.freepik{
  float:left;
  width: 150px;
}
.buttonClass {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #dee220;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .buttonClass:hover {
    background: #ffffff;
    text-decoration: none;
    color: #b4b621;
  } 
  .card{
    align-items:"center";
    margin-left: auto;
    margin-right: auto;
  }
  .rating {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    background: #161b1f;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width:fit-content;
  }
  .popular {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    background:#3cb0fd;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width:fit-content;
  }
  .btn-outline{
    -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffff;
  padding: auto;
  border: solid #080cff 2px;
  text-decoration: none;
  }
.services{
  background-image: url('Component\ 23\ –\ 2.png');
}
.Component{
  width: 100%;
}
.btn-sub{
  min-height: 50px; 
border-radius:0;
background: #243c4f;
color: #fff;
font-weight:600;
}
.container{
  width: 200px;
  display: flex;
  align-items: center;
}
.container img{
  
  margin-right: 20px;
}
.btn-last {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}
.vertical-line{
  transform: rotate(90deg);
  width: 100px;
}